@font-face {
    font-family: "Protest Guerrilla";
    src: url("./fonts/ProtestGuerilla-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
    color: white;
    display: flex;
}

.image-content {
    background-image: url("./images/naturePhoto.png");
    background-size: cover;
    background-position: center;
    width: 60vw;
    height: 100vh;
    display: flex;
}

.logo {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 30px;
}

.logo img {
    height: 100px;
}

.sign-up-content {
    width: 40vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    width: auto;
    height: auto;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 50px;
}

.input-box {
    width: 25vw;
    height: 400px;
    background-color: grey;
    border: 4px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-field {
    height: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.create-account {
    height: 50px;
    width: 140px;
    color: white;
    font-size: 15px;
    background-color: rgb(0, 187, 0);
    border: 4px solid green;
    border-radius: 10px;
    margin-left: 45px;
}

.log-in {
    margin-left: 20px;
}